{% extends "mairie/layoutmairie.html.twig" %}
{% block titre %}
    <h1>Balkanistan : Accueil mairie</h1>
{% endblock %}

{% block contenu %}
    <h1>Liste des mairies :</h1>

    <ul>
        {% for mairie in mairies %}
        
            <li>Mairies : {{ mairie.ville }}</li>
            <a href="{{ path('mairie_voir', { 'id': mairie.id }) }}">Voir</a>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
                <a href="{{ path('mairie_modifier', { 'id': mairie.id }) }}">Modifier</a>
            {% endif %}
            

            {% if mairie.getPoliticiens()|length == 0 and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('mairie_supprimer', { 'id': mairie.id }) }}">Supprimer</a>
            <br></br>
            {% endif %}
            
        {% endfor %}
    </ul> 

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
        <p><a href="{{ path('mairie_ajouter2') }}">Ajouter une mairie</a></p>
    {% endif %}

    <p><a href="{{ path('balk_accueil') }}">Retour</a> à la page d'accueil.</p>
{% endblock %}