<!DOCTYPE html> 
<html>
    <body>
        <h2>Ajouter une mairie</h2>          
        {{ form(monFormulaire) }}   

        <p><a href="{{ path('mairie_accueil') }}">Retour</a></p>  
    </body>
</html> 