{% extends "mairie/layoutmairie.html.twig" %}
{% block titre %}
    {{ parent() }} - modifier une mairie
{% endblock %}
{% block contenu %}
    {{ form(monFormulaire) }}  
    <p>Attention ! Vous modifiez une mairie existante.</p>
    <p><a href="{{ path('mairie_accueil') }}">Abandonner</a></p>
{% endblock %}