{% extends "mairie/layoutmairie.html.twig" %}
{% block titre %}
    {{ parent() }} : {{ mairie.ville }}
{% endblock %}
{% block contenu %}
<ul>
    <li>Ville : {{ mairie.ville }}</li>
</ul>

{% if politiciens|length != 0 %}
    <h2> Les candidats :  </h2>

    {% for politicien in politiciens %}
    <ul>
        <li> {{politicien.nom}}</li>
        <a href="{{ path('politicien_voir', { 'id': politicien.id }) }}">Voir le politicien</a>
        <br>
        {% if is_granted('ROLE_ADMIN')%}
                <a href="{{ path('mairie_suppPol', { 'id1': politicien.id,  'id2': mairie.id}) }}">Supprimer le politicien</a>
        {% endif %}
        
        <br>
    </ul>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
                <a href="{{ path('mairie_modifier', { 'id': mairie.id }) }}">Modifier la mairie</a>
    {% endif %}
    <p><a href="{{ path('mairie_accueil') }}">Retour</a></p>
{% else %}
        <p>Il n'existe aucun candidat à cette mairie</p>
        <br>
{% endif %}

    {% endblock %}