{% extends "affaire/layoutaffaire.html.twig" %}
{% block titre %}
    <h1>Balkanistan : Accueil Affaire</h1>
{% endblock %}

{% block contenu %}


    <form action="{{ path("search_result") }}" method="get" name="form">
            <label for="search">Recherche
                <input type="text" name="search"/>
                <input type="submit">
            </label>
    </form>


    <h1>Liste des affaires :</h1>

    <ul>
        {% for affaire in affaires %}
        
            <li>{{ affaire.designation }}</li>
            <a href="{{ path('affaire_voir', { 'id': affaire.id }) }}">Voir</a>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
                <a href="{{ path('affaire_modifier', { 'id': affaire.id }) }}">Modifier</a>
            {% endif %}

            {% if affaire.getPoliticiens()|length == 0 and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('affaire_supprimer', { 'id': affaire.id }) }}">Supprimer</a>
            {% endif %}
            <br></br>
        {% endfor %}
    </ul>

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
        <p><a href="{{ path('affaire_ajouter2') }}">Ajouter une affaire</a></p>
    {% endif %}

    <p><a href="{{ path('balk_accueil') }}">Retour</a> à la page d'accueil.</p>

    
    
{% endblock %}