<!DOCTYPE html> 
<html>
    <body>
        <h2>Ajouter une affaire</h2>          
        {{ form(monFormulaire) }}  

        <p><a href="{{ path('affaire_accueil') }}">Retour à l'accueil des affaires</a></p>   
    </body>
</html> 