{% extends "affaire/layoutaffaire.html.twig" %}
{% block titre %}
    {{ parent() }} - Ajouter un politicien
{% endblock %}
{% block contenu %}
    {{ form(monFormulaire) }}  
    <p><a href="{{ path('affaire_accueil') }}">Abandonner</a></p>
{% endblock %}