{% extends "affaire/layoutaffaire.html.twig" %}
{% block titre %}
    {{ parent() }} - Modifier une affaire
{% endblock %}
{% block contenu %}
    {{ form(monFormulaire) }}  
    <p>Attention ! Vous modifiez une affaire existante.</p>
    <p><a href="{{ path('affaire_accueil') }}">Abandonner</a></p>
{% endblock %}