{% extends "affaire/layoutaffaire.html.twig" %}
{% block titre %}
    {{ parent() }} : {{ affaire.designation }}
{% endblock %}
{% block contenu %}
<ul>
    <li>Designation : {{ affaire.designation }}</li>
</ul>

{% if affaire.getPoliticiens()|length != 0 %}
    <h2> Politiciens affiliés :  </h2>

    {% for politicien in affaire.getPoliticiens() %}
    <ul>
        <li>{{politicien.nom}}</li>
        <a href="{{ path('politicien_voir', { 'id': politicien.id }) }}">Voir le politicien</a>
        <br>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('affaire_suppPol', { 'id1': politicien.id,  'id2': affaire.id}) }}">Supprimer le politicien</a>
        {% endif %}
        
        <br>
    </ul>
    {% endfor %}
{% else %}
        <p>Il n'existe aucun politicien appliqué à cette affaire</p>
        <br>
{% endif %}

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
            <a href="{{ path('affaire_ajoutPol', { 'id': affaire.id }) }}">Ajouter un politicien</a>
    {% endif %}
    <p><a href="{{ path('affaire_accueil') }}">Retour à l'accueil des affaires</a></p>

    {% endblock %}