{% extends "layoutgeneral.html.twig" %}
{% block titre %}
    {{ parent() }} : Accueil
{% endblock %}


{% block contenu %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <a href="http://localhost:8000/logout">Logout</a>
 {% else %}
        <a href="http://localhost:8000/login">Login</a>
    <a href="http://localhost:8000/register">Register</a>
{% endif %}

    <h3>Bienvenu</h3>

<p>Vous pouvez accèder aux mairies en cliquant sur le lien suivant : <a href="{{ path('mairie_accueil') }}">Voir les Mairies</a></p>
    <p>Vous pouvez également consulter les différents partis ici : <a href="{{ path('parti_accueil') }}">Voir les Partis</a></p>
    <p>Vous pouvez accèder aux politiciens sur la page suivante : <a href="{{ path('politicien_accueil') }}">Voir les Politiciens</a></p>
    <p>Vous pouvez consulter les affaires via le lien : <a href="{{ path('affaire_accueil') }}">Voir les Affaires</a></p>
{% endblock %}