{% extends "parti/layoutparti.html.twig" %}
{% block titre %}
    <h1>Balkanistan : Accueil parti</h1>
{% endblock %}

{% block contenu %}
    <h1>Liste des partis :</h1>

    <ul>
        {% for parti in partis %}
        
            <li>{{ parti.nom }}</li>
            <a href="{{ path('parti_voir', { 'id': parti.id }) }}">Voir</a>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
                <a href="{{ path('parti_modifier', { 'id': parti.id }) }}">Modifier</a>
            {% endif %}

            {% if parti.getPoliticiens()|length == 0 and is_granted('ROLE_ADMIN') %}
            <a href="{{ path('parti_supprimer', { 'id': parti.id }) }}">Supprimer</a>
            <br></br>
            {% endif %}
            
        {% endfor %}
    </ul> 

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
        <p><a href="{{ path('parti_ajouter2') }}">Ajouter un parti</a></p>
    {% endif %}
    

    <p><a href="{{ path('balk_accueil') }}">Retour</a> à la page d'accueil.</p>
{% endblock %}