<!DOCTYPE html> 
<html>
    <body>
        <h2>Ajouter un parti</h2>          
        {{ form(monFormulaire) }} 

        <p><a href="{{ path('parti_accueil') }}">Retour</a></p>    
    </body>
</html> 