{% extends "parti/layoutparti.html.twig" %}
{% block titre %}
    {{ parent() }} - Modifier un parti
{% endblock %}
{% block contenu %}
    {{ form(monFormulaire) }}  
    <p>Attention ! Vous modifiez un parti existant.</p>
    <p><a href="{{ path('parti_accueil') }}">Abandonner</a></p>
{% endblock %}