{% extends "parti/layoutparti.html.twig" %}
{% block titre %}
    {{ parent() }} : {{ parti.nom }}
{% endblock %}
{% block contenu %}
<ul>
    <li>{{ parti.nom }}</li>
</ul>

    {% if politiciens|length != 0 %}
        <h2> Politiciens affiliés :  </h2>
        {% set age = 0 %}
        {% set moyenne = 0 %}
        {% set parite = 0 %}

        {% for politicien in politiciens %}
        <ul>
            <li>{{politicien.nom}}</li>
            {% set age = age + politicien.age %}
                {% if politicien.sexe == 'F' %}
                    {% set parite = parite + 1 %}
            {% endif %}
            <a href="{{ path('politicien_voir', { 'id': politicien.id }) }}">Voir le politicien</a>
            <br>
            
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
                <p><a href="{{ path('parti_ajouter2') }}">Ajouter un parti</a></p>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('parti_suppPol', { 'id1': politicien.id,  'id2': parti.id}) }}">Supprimer le politicien</a>
            {% endif %}
            
            <br>
        </ul>
        {% endfor %}

        <h3> Moyenne d'age de ce parti : </h3>
        <li>{{ age/politiciens|length }} ans</li>
        <h3>Pourcentage de femmes dans ce parti</h3>
        <li>{{ (parite/politiciens|length)*100 }}%</li>
        <br>
    {% else %}
        <p>Il n'existe aucun adhérent à ce parti</p>
        <br>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
                <a href="{{ path('parti_modifier', { 'id': parti.id }) }}">Modifier le parti</a>
    {% endif %}


<p><a href="{{ path('parti_accueil') }}">Retour</a></p> 

{% endblock %}