{% extends "politicien/layoutpoliticien.html.twig" %}
{% block titre %}
    <h1>Balkanistan : Accueil Politicien</h1>
{% endblock %}

{% block contenu %}
    <h1>Liste des politiciens :</h1>

    <ul>
        {% for politicien in politiciens %}
        
            <li>Politicien : {{ politicien.nom }}</li>
            <a href="{{ path('politicien_voir', { 'id': politicien.id }) }}">Voir</a>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
                <a href="{{ path('politicien_modifier', { 'id': politicien.id }) }}">Modifier</a>
            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('politicien_supprimer', { 'id': politicien.id }) }}">Supprimer</a>
            {% endif %}
            <br></br>
            
        {% endfor %}
    </ul> 

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
        <p><a href="{{ path('politicien_ajouter2') }}">Ajouter un politicien</a></p>
    {% endif %}
    

    <p><a href="{{ path('balk_accueil') }}">Retour</a> à la page d'accueil.</p>
{% endblock %}