<!DOCTYPE html> 
<html>
    <body>
        <h2>Ajouter un politicien</h2>          
        {{ form(monFormulaire) }}     

        <p><a href="{{ path('politicien_accueil') }}">Retour</a></p>
    </body>
</html> 