<!DOCTYPE html>
<html>
    <body>
        <hr /></div>
        <h1>{% block titre %}Politiciens
            {% endblock %}
        </h1>
        <div id="contenu" >
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="http://localhost:8000/logout">Logout</a>
            {% else %}
                <a href="http://localhost:8000/login">Login</a>
                <a href="http://localhost:8000/register">Register</a>
            {% endif %}
            <br></br>

            {% block contenu %}
            {% endblock %}
        </div>
        <hr />
        <div id="pied_de_page" >
            <p>&copy; DG.</p>
        </div>
    </body>
</html>