{% extends "politicien/layoutpoliticien.html.twig" %}
{% block titre %}
    {{ parent() }} - Modifier un politicien
{% endblock %}
{% block contenu %}
    {{ form(monFormulaire) }}     
    <p>Attention ! Vous modifiez un politicien existant.</p>
    <p><a href="{{ path('politicien_accueil') }}">Abandonner</a></p>
{% endblock %}