{% extends "politicien/layoutpoliticien.html.twig" %}
{% block titre %}
    {{ parent() }} : {{ politicien.nom }}
{% endblock %}
{% block contenu %}

    <ul>
        <li>Nom : {{ politicien.nom }}</li>
        <li>Sexe : {{ politicien.sexe }}</li>
        <li>Age : {{ politicien.age }}</li>
        <li>Candidat à : {{ politicien.candidat }}</li>
        <li>Fais parti de : {{ politicien.parti }}</li>
    </ul>

    {% for affaire in politicien.getImplication() %}
    <ul>
        <li>{{affaire.designation}}</li>
        <a href="{{ path('affaire_voir', { 'id': affaire.id }) }}">Voir l'affaire</a>
        <br>
    </ul>
    {% endfor %}

    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SECRETAIRE') %}
        <a href="{{ path('politicien_modifier', { 'id': politicien.id }) }}">Modifier le politicien</a>
    {% endif %}
    
    <p><a href="{{ path('politicien_accueil') }}">Retour</a></p>
{% endblock %}